
.right-sections {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.interests-section {
  width: 267px;
  height: 177px;
  border-radius: 12px;
  background: #F0F0F0;
  padding: 12px;
  box-sizing: border-box;
}

.interests-title {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: #000000;
  margin: 0 0 12px 0;
}

.interests-container {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}

.interest-tag {
  font-family: 'Poppins', sans-serif;
  display: inline-block;
  padding: 4px 10px;
  background: #FFFFFF;
  border-radius: 40px;
  font-size: 10px;
  font-weight: 400;
  color: #000000;
  white-space: nowrap;
}


.chat-section {
  width: 267px;
  height: 92px;
  border-radius: 12px;
  background: #000000;
  padding: 12px;
  box-sizing: border-box;
}
.chat-title {
  font-weight: 500;
  font-size: 14px;
  color: #FFFFFF;
  margin: 0 0 12px 0;
}
.chat-mail {
font-weight: 500;
  font-size: 10px;
  color: #DDDDDD;
}
