
.small-box {
  width: 124px;
  height: 359px;
  border-radius: 12px;
  background: #F0F0F0;
  box-sizing: border-box;
  padding: 12px;
}

.tools-title {
  font-weight: 500;
  font-size: 14px;
  color: #000000;
  margin-bottom: 16px;
}

.tools-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.tools-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
  justify-items: center;
}

.tool-box {
  width: 76px;
  position: relative;
  border-radius: 8px;
  background: #FFFFFF;
  box-sizing: border-box;
  padding: 16px 16px 8px 12px;
}


.design-box {
  width: 76;
  height: 111px;
}

.no-code-box, .ai-box {
  width: 76;
  height: 86px;
}

/* Стили для бейджей */
.tool-badge {
  position: absolute;
  top: -5px;
  left: 23px;
  background: #000000;
  color: white;
  font-size: 5px;
  font-weight: 500;
  padding: 2px 6px;
  border-radius: 59px;
  white-space: nowrap;
}

.ai-badge {
  left: 6px;
  right: 6px;
  white-space: nowrap;
}